@model university_project.Models.NewUser

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Create</h1>

    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Username" class="control-label"></label>
                    <input asp-for="User.Username" class="form-control" />
                    <span asp-validation-for="User.Username" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="User.Password" class="control-label"></label>
                    <input asp-for="User.Password" class="form-control" />
                    <span asp-validation-for="User.Password" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="User.Role" class="control-label">Role</label>
                    <select asp-for="User.Role" asp-items="Model.SelectRole" class="form-select" aria-label="-"></select>
                    <span asp-validation-for="User.Role" class="text-danger"></span>
                </div>
                <div class="form-group d-flex mt-3 gap-3">

                    <button type="submit" class="btn btn-primary">Next</button>
                    <div class="align-self-center">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
