@model university_project.Models.NewUser

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Create</h1>

    <h4>Professor</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Professor" asp-controller="Admin" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Professor.Name" class="control-label"></label>
                    <input asp-for="Professor.Name" class="form-control" />
                    <span asp-validation-for="Professor.Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Professor.Surname" class="control-label"></label>
                    <input asp-for="Professor.Surname" class="form-control" />
                    <span asp-validation-for="Professor.Surname" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Professor.Afm" class="control-label"></label>
                    <input asp-for="Professor.Afm" class="form-control" />
                    <span asp-validation-for="Professor.Afm" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Professor.Department" class="control-label"></label>
                    <input asp-for="Professor.Department" class="form-control" />
                    <span asp-validation-for="Professor.Department" class="text-danger"></span>
                </div>
                <div class="form-group d-flex mt-3 gap-3">

                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="align-self-center">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
