<div class="container">
    <h1>Settings</h1>
    <div class="row mt-5 flex-column flex-md-row gap-4 gap-md-0">
        <div class="col col-md-3">
            @await Html.PartialAsync("_SettingsPartial")
        </div>
        @* Main settings *@
        <div class="col col-md-9">
            <h2>Dashboard</h2>
        </div>
    </div>
</div>
