@model university_project.ViewModels.ChangePasswordData

<div class="container">
    <h1>Settings</h1>
    <div class="row mt-5 flex-column flex-md-row gap-4 gap-md-0">
        <div class="col col-md-3">
            @await Html.PartialAsync("_SettingsPartial")
        </div>
        @* Main settings *@
        <div class="col col-md-9">
            <h2>Change password</h2>
            <form asp-controller="Settings" asp-action="Password" method="post" id="change-password-form" class="spacing-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mt-5">
                    <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="OldPassword" class="form-label"></label>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3">
                    <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="NewPassword" class="form-label"></label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Update password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
