@model Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-4" style="min-height: 80%;">
    <form method="post" class="d-flex flex-column w-75 w-md-50 w-lg-25 border px-lg-5 px-3 shadow">
        <div class="mt-3 mb-4">
            <img src="~/img/unipi-logo.png" class="img-fluid bg-white" alt="logo">
        </div>

        <div asp-validation-summary="ModelOnly" class="login-error text-danger"></div>

        <label class="form-label">Username</label>
        <input asp-for="@Model.Email" type="text" class="form-control">
        <div class="error-message text-danger">
            <span asp-validation-for="@Model.Email"></span>
        </div>
        
        <label class="form-label mt-3">Password</label>
        <div class="input-group">
            <input asp-for="@Model.Password" id="passwordInput" type="password" class="form-control border-end-0" />
            <span id="eyeSlashIcon" class="input-group-text bg-transparent rounded-end hovered"><i class="fa-solid fa-eye-slash"></i></span>
            <span id="eyeIcon" class="visually-hidden input-group-text bg-transparent hovered"><i class="fa-solid fa-eye"></i></span>
        </div>
        <div class="error-message text-danger">
            <span asp-validation-for="@Model.Password"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Sign In</button>
        <a href="#" class="link-primary text-decoration-none mt-4">Forgot your password?</a>
    </form>
</div>
