.bg {
    background-color: var(--theme);
}

.outline {
    outline: 2px solid var(--theme);
}

.search-btn {
    outline: 2px solid var(--theme);
}

.search-btn:hover {
    background-color: var(--theme-hover);
}

.whitetxt {
    color: white;
}

.blacktxt {
    color: black;
}

.cards-color {
    background-color: var(--theme-hover) /* #436b6b*/;
}

.butn:hover {
    background-color: var(--theme-hover);
    border-radius: 0.2em;
}

.prf {
    text-decoration: none;
}
