.hover-gray {
    background-color: transparent;
}

.hover-gray :hover{
    background-color: rgb(230, 230, 230);
    transition-property: background-color;
    transition-duration: .25s;
    transition-timing-function: ease-in;
    border-radius: .5em;

}

btn-col {
    background-color: darkslategrey;
}

.bluetxt2 {
    color: #5b8080;
}

.bluetext1 {
    color: darkslategrey;
}

