:root {
    --theme-orange: hsla(31, 80%, 45%, 1);
    --theme-hover-orange: hsla(31, 75%, 60%, 1);

    --theme-darkslate: darkslategrey;
    --theme-hover-darkslate: hsla(180, 17%, 43%, 1);

    --theme-blue: hsla(206, 80%, 39%, 1);
    --theme-hover-blue: hsla(206, 70%, 55%, 1);


    --theme-purple: hsla(275, 46%, 47%, 1);
    --theme-hover-purple: hsla(275, 49%, 62%, 1);


    --theme: var(--theme-darkslate);
    --theme-hover: var(--theme-hover-darkslate);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.h-50-percent {
    height: 50%;
}

.h-75-percent {
    height: 75%;
}

.h-100-percent{
    height: 100%;
}

.hovered:hover {
    cursor: pointer;
}

/* MD breakpoint*/
@media (min-width: 576px) {
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}

