@model IEnumerable<university_project.ViewModels.GradesData>

@{
    ViewData["Title"] = "My Grades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>My grades</h1>
    <hr />

    
       
        
            @if (Model.Count() > 0)
            {
                @for (var i = 1; i < 9; i++)
                {
                    <table class="table table-hover">
                        <h5 class="mb-3 mt-3">Semester @i</h5>
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Grade</th>
                            </tr>
                        </thead>
                        @foreach (var data in Model.Where( courseData => int.Parse(courseData.Semester) == i ))
                        {
                                <tbody>
                                    <tr>
                                        <th scope="row">@data.CourseTitle</th>
                                        <td>@data.Semester</td>
                                        <td>@data.CourseGrade</td>
                                    </tr>
                                </tbody>
                                <h5>Semester's Gpa </h5>
                        }
                    </table>
                }

                
                
            }

    

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
